.stove-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 14px;
  padding: 11px 20px;
}
.stove-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.stove-button--secondary {
  color: #1ea7fd;
  background-color: transparent;
  box-shadow: #1ea7fd 0px 0px 0px 1px inset;
}
.stove-button--ghost {
  background-color: transparent;
}
.stove-button--full-width {
  width: 100%;
}
